body {
	background: firebrick;
	max-width: 960px;
	margin: 50px auto;
}

form * {
	display: block;
}

nav {
	min-height: 50px;
	margin: 30px auto;
}

nav ul li {
	display: block;
	float: left;
}

nav * a {
	padding: 10px 30px;
}

nav * a:hover {
	background: orange;
	color: black;
}

.ild {
	color: firebrick;
}